body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

header h1 {
    margin: 0;
    color: white;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

.container {
    display: flex;
  }


.driver-section {
    margin-bottom: 2rem;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 5px;
}

.driver-section h2 {
    margin-top: 0;
}

.download-button {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.darkmode-button {
    display: inline-block;
    background-color: #33557a;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nvidia-button {
    display: inline-block;
    background-color: #77b900;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.realtek-button {
    display: inline-block;
    background-color: #0068b6;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.amd-button {
    display: inline-block;
    background-color: #be0e18;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.download-button:hover {
    background-color: #0056b3;
}

.dark-mode {
    background-color: #1a1c1d;
    color: white;
  }

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #f4f4f4;
    border-top: 1px solid #ddd;
}
