body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

header h1 {
    margin: 0;
    color: white;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

select {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    color: #333333;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    outline: none;
  }

.container {
    display: flex;
  }


.driver-section {
    margin-bottom: 2rem;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 5px;
}

.driver-section h2 {
    margin-top: 0;
}

.download-button {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.download-button-h {
    display: inline-block;
    background-color: #013f81;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.darkmode-button {
    display: inline-block;
    background-color: #33557a;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nvidia-button {
    display: inline-block;
    background-color: #77b900;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* be0b10 */

.chipset-button {
    display: inline-block;
    background-color: #be0b10;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.chipset-button-h {
    display: inline-block;
    background-color: #800e12;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nvidia-button-h {
    display: inline-block;
    background-color: #476d00;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.g-button {
    display: inline-block;
    background-color: #7e7e7e;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.a-select-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #af2d2d;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.a-select-button:hover {
    background-color: #df3c3c;
  }

.realtek-button {
    display: inline-block;
    background-color: #0068b6;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.realtek-button-h {
    display: inline-block;
    background-color: #004070;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.amd-button {
    display: inline-block;
    background-color: #be0e18;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.intel-button {
    display: inline-block;
    background-color: #269bc1;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.amd-button-h {
    display: inline-block;
    background-color: #64070b;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.download-button:hover {
    background-color: #0056b3;
}

.dark-mode {
    background-color: #1a1c1d;
    color: white;
  }
  
footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #f4f4f4;
    border-top: 1px solid #ddd;
}

.amd-button {
    display: inline-block;
    background-color: #be0e18;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.download-button:hover {
    background-color: #0056b3;
}

.dark-mode {
    background-color: #1a1c1d;
    color: white;
  }

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #f4f4f4;
    border-top: 1px solid #ddd;
}


/* Nvidia */

.Ncollapsible {
    background-color: #6eab00;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .Ncollapsible:hover {
    background-color: #568500;
  }
  
  .Ncollapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }


/* AMD */

.Acollapsible {
    background-color: #f06402;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .Acollapsible:hover {
    background-color: #bd4e01;
  }
  
  .Acollapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
/* INTEL */

.Icollapsible {
    background-color: #0072c6;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .Icollapsible:hover {
    background-color: #005493;
  }
  
  .Icollapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }

/* END INTEL */


  .active:after {
    content: "\2212";
  }
  
  .Gcontent {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #b8b8b8;
  }
